{% extends "Home.html" %}
{% load staticfiles %}


{% block content %}

    <div class="crumbs-container container">
        <div class="crumbs"><a class="crumbs__link" href="{% url 'home' %}">Главная<i
                class="icon icon_circle crumbs__icon"></i></a><a class="crumbs__link_current" href="">Кто мы?</a></div>
    </div>
    <div class="terms-page">
        <div class="container">
            <div class="title title_h2 text_left mb-1">
                <div class="title__text">Кто мы?</div>
            </div>
            <p>Привет! Вы зашли на платформу по профессиональной ориентации для подростков и взрослых. Здесь мы помогаем
                подобрать наиболее подходящую для вас профессию. Но нужно понимать, что мы не решаем за вас, какую
                профессию в итоге выбрать, а только помогаем сузить круг. Окончательный выбор остается только за вами.
                Чтобы добиться успеха в профессии, ее нужно любить и постоянно в ней развиваться и совершенствоваться. А
                это тестами не проверить. Проходя тесты, будьте с собой честны. Не нужно пытаться казаться лучше чем вы
                есть на самом деле. Результаты увидите только вы.
                Мы подобрали 14 тестов подходящих, как для подростков, так и для взрослых. Вы их увидите в личном
                кабинете после регистрации. Как только вы пройдете все тесты, откроется возможность подобрать профессии.
                Тесты можно перепроходить и заново подобрать профессии в соответствии с новыми, развитыми навыками. При
                этом старый результат сохранится в архиве.</p>
            <p style="margin-bottom: 0.5rem">Пройдя тесты вы получите:</p>
            <ul class="mb-2">
                <li>1. список профессий актуальный для вас на данный момент</li>
                <li>2. душевную гармонию / психологическое равновесие</li>
                <li>3. любимую работу</li>
                <li>4. признание</li>
                <li>5. уверенность в себе</li>
                <li>6. успешную карьеру</li>
                <li>7. счастливую, полноценную жизнь</li>
                <li>8. не зря прожитую жизнь</li>
            </ul>

        </div>
    </div>

    <style>
        li {
            font-size: 18px;
        }

        ul li {
            padding-left: 0;
        }

        ul li:before {
            display: none;
            top: 8px;
        }

        p {
            margin-bottom: 1rem;
        }
    </style>
{% endblock %}