{% extends "Home.html" %}
{% load staticfiles %}

{% block content %}
    <div class="crumbs-container container">
        <div class="crumbs"><a class="crumbs__link" href="{% url 'home' %}">Главная<i
                class="icon icon_circle crumbs__icon"></i></a><a class="crumbs__link_current" href="">Новый пароль</a>
        </div>
    </div>
    <div class="password-reset mb-3">
        <div class="container">
            {% if validlink %}
                <h3 class="title title_h3 text_left mb-15">Пожалуйста, введите новый пароль</h3>
                <form class="form" method="POST">
                    {% csrf_token %}
                    <div class="input-container">
                    <div class="input-container__icon-box hover-display-none"><i class="icon icon_lock input-container__icon"></i></div>
                            <div class="input-container__icon-box hover-cursor-pointer js-password-visibility"><i class="icon icon_eye_1 input-container__icon"></i></div>
                        <input style="box-shadow: 0 12px 24px rgba(0,0,0,0.05);" class="input input-container__input"
                               type="password" name="new_password1" required="" id="id_new_password1"
                               placeholder="Новый пароль">
                    </div>
                    <div class="input-container">
                        <div class="input-container__icon-box hover-display-none"><i class="icon icon_lock input-container__icon"></i></div>
                            <div class="input-container__icon-box hover-cursor-pointer js-password-visibility"><i class="icon icon_eye_1 input-container__icon"></i></div>
                        <input style="box-shadow: 0 12px 24px rgba(0,0,0,0.05);" class="input input-container__input"
                               type="password" name="new_password2" required id="id_new_password2"
                               placeholder="Подтвердите пароль">
                    </div>
                    <button class="btn btn_1">Изменить пароль</button>
                </form>
            {% else %}
                <h3 class="title title_h3 text_left mb-15">Ссылка не валидна. Возможно, она уже была использована.
                    Пожалуйста, отправьте новый запрос на изменение пароля.</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
