{% extends "Home.html" %}
{% load staticfiles %}

{% block content %}
    <div class="crumbs-container container">
        <div class="crumbs"><a class="crumbs__link" href="{% url 'home' %}">Главная<i
                class="icon icon_circle crumbs__icon"></i></a><a class="crumbs__link_current" href="">Новый пароль</a>
        </div>
    </div>
    <div class="password-reset mb-3">
        <div class="container">
            <h3 style="color:#28a745" class="title title_h3 text_left mb-15">Новый пароль установлен. Теперь вы можете <span data-popbox-target="popbox-enter">войти</span></h3>
        </div>
        <style>
            .password-reset h3 span {
                text-decoration: underline;
                cursor: pointer;
            }
            .password-reset h3 span:hover {
                text-decoration: none;
            }
        </style>
    </div>

    <script>
        {% if user.is_authenticated %}
            window.location.href = "/";
        {% endif %}
    </script>
{% endblock %}
